@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
@media only screen and (max-width: 890px){
    

body{
    font-family: Open Sans;
}
.begin{background-color: aliceblue;
    background-image: url(bg-hero-mobile.svg);
}
.head{ display: flex;
    padding-top: 20px;
    justify-content: space-between;
}
.logo{ height: 20px;
    width: 130px;
    padding-left: 20px;
}
.btn{
    border-radius: 20px 20px 20px 20px;
    background-color: white;
    border: none;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 130px;
    height: 30px;
}
.text{ padding-top:80px;
    text-align: center;
margin: 30px;}

   .text h2{
        text-transform:capitalize ;
    }
    .text p{ padding-top:20px;
        font-size: 15px;
    }  
    .btn-2{padding-top: 20px;
        text-align: center;
        color: white;
    }
    .btn-2 button{background-color: hotpink;
        border-radius: 20px 20px 20px 20px;
        width: 200px;
        height: 35px;
        border: none;
        color: white;
        box-shadow: 0 0.9px 0.9px 0 rgba(0,0, 0.2) ;
        text-transform: capitalize;

    }
    .btn-2 :hover{
        background-color: pink;
    }
    .mockup{
 width:300px;
    }
.mockups{
    display: flex;
    justify-content: center;
}
.box-1{
    background-color: hsl(213, 19%, 18%);
           text-align: center;
           border: 1px  hsl(213, 19%, 18%) soild ;
           width: 320px;
           display: flex;
           flex-direction: column;
           justify-content: center;
           align-items: center;  
           padding-top: 40px;; 
           padding-bottom: 50px;
           box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
           background-color: white;
          border-radius:10px 10px 10px 10px;
   }
   .together p{ padding-top: 15px;
     font-size: 15px;
   }
   .grow-together{ padding-bottom: 40px;
    width: 260px;
    margin: 30px;
   }
.second{ display: flex;
    justify-content: center;
    padding-top: 50px;
}

.box-2{
    background-color: hsl(213, 19%, 18%);
           text-align: center;
           border: 1px  hsl(213, 19%, 18%) soild ;
           width: 320px;
           display: flex;
           flex-direction: column;
           justify-content: center;
           align-items: center;  
           padding-top: 40px;; 
           padding-bottom: 50px;
           box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
           background-color: white;
          border-radius:10px 10px 10px 10px;
   }
   .flow{
    padding-bottom: 40px;
    width: 260px;
   }
   .third{ display: flex;
    justify-content: center;
    padding-top: 50px; }
    .copyright{ text-align: center;
        color: white;
          }
    .conversations p{ padding-top: 15px;
        font-size: 15px;
        margin: 30px;
      }
      .use p{ padding-top: 15px;
        font-size: 15px;
        margin: 30px;
      }
      .fourth{ display: flex;
        justify-content: center;
        padding-top: 50px; }   
.box-3{
    background-color: hsl(213, 19%, 18%);
           text-align: center;
           border: 1px  hsl(213, 19%, 18%) soild ;
           width: 320px;
           display: flex;
           flex-direction: column;
           justify-content: center;
           align-items: center;  
           padding-top: 40px;; 
           padding-bottom: 50px;
           box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
           background-color: white;
          border-radius:10px 10px 10px 10px;
   }
   .your-users{ padding-bottom: 40px;
    width: 260px;
   }
   .box-5{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
background-color: white;
width: 320px;
text-align: center;
height: 140px;
z-index: 99;
position: relative;
top: 30px;
border-radius:10px 10px 10px 10px;
}
.fifth{ justify-content: center;
    display: flex;
    padding-top: 50px;
}
.btnn-3{
    padding-top: 20px;
}
.text-2{
    padding-top: 30px;
}
button .btn-3{ 
    padding-top: 20px;
}
.btn-3{ background-color: hotpink;
    border-radius: 20px 20px 20px 20px;
    width: 200px;
    height: 30px;
    border: none;
    color: white;
    box-shadow: 0 0.9px 0.9px 0 rgba(0,0, 0.2) ;
    text-transform: capitalize;
}
.sixth{display:flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 20px;
    background-color: hsl(213, 19%, 18%);
}
svg{ position: relative;
    left: -40px;
    transform: scale(0.5);
    top:40px;
}
.logo-2{
    width: 150px;
}

.social-media a{ font-size: 30px;
    color: white;
    border: 1px solid white;
    border-radius: 50%;
    padding: 10px;
  }
  .social-media a :hover{ 
    color: hotpink;
  }
.location{ display: flex;
    font-size: 16px;
    color: white;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-top: 50px;
}
.icon-location{ height: 20px;}
.phone{ font-size: 16px;
    display: flex;
    color: white;
    padding-bottom: 20px;
    padding-left: 20px;
}
.email{ font-size: 16px;
    display: flex;
    padding-bottom: 20px;
    padding-left: 20px;
    color: white;
}
.address{ padding-left: 20px;
}

.number{ padding-left: 20px;

}
.gmail{ padding-left: 20px;
}

.link{ flex-direction: column;
    display: flex;
    font-size: 17px;
    gap: 10px;
    padding-left: 20px;
   }
   .link a { color:white;
       text-decoration: none;
   }
   .link :hover{
       text-decoration: underline;
   }
   .social-media {font-size: 20px;
       display: flex;
      justify-content: center;
       list-style: none;
     gap: 30px;
     padding-top: 20px;
      padding-bottom: 20px;
     }}
     .link-2{ flex-direction: column;
        display: flex;
        gap: 8px;
     }

     @media screen and (min-width: 890px)  {
body{
    font-family: Open Sans;
}
.begin{background-color: aliceblue;
    background-image: url(bg-hero-mobile.svg);
    padding-bottom: 70px;
}
.head{ display: flex;
    padding-top: 20px;
    justify-content: space-between;
}
.logo{ height: 20px;
    width: 130px;
    padding-left: 20px;
}
.btn{
    border-radius: 20px 20px 20px 20px;
    background-color: white;
    border: none;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 130px;
    height: 30px;
}  
.box{ grid-template-columns:  5fr 6fr;
    display: grid;
    padding-top: 80px;
}
.text{ padding-top: 40px;
    text-align: center;
}
   .text h2{
        text-transform:capitalize ;
    }
    .text p{ padding-top: 20px;
        font-size: 15px;
    }  
    .btn-2{padding-top: 20px;
        text-align: center;
        color: white;
    }
    .btn-2 button{background-color: hotpink;
        border-radius: 20px 20px 20px 20px;
        width: 250px;
        height: 40px;
        border: none;
        color: white;
        box-shadow: 0 0.9px 0.9px 0 rgba(0,0, 0.2) ;
        text-transform: capitalize;

    }
    .btn-2 :hover{
        background-color: pink;
    }
    .mockup{  padding-top: 40px;
 width:480px;
    }
.mockups{
    display: flex;
    justify-content: center;
}
 
.box-1{
    background-color: hsl(213, 19%, 18%);
    
           border: 1px  hsl(213, 19%, 18%) soild ;
           width: 990px;  
           padding-top: 40px;; 
           padding-bottom: 50px;
           box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
           background-color: white;
          border-radius:10px 10px 10px 10px;
   }
   .together p{ padding-top: 15px;
     font-size: 15px;
     padding-right: 40px;
     line-break: auto;
   }
   .grow-together{ padding-bottom: 20px;
    width: 300px;
    padding-left: 40px;
    
   }
.grow{ display: grid;
    grid-template-columns:  5fr 5fr;
    padding-top: 50px;
}
.second{ display: flex;
    justify-content: center;
    padding-top:30px ; 

}
.box-2{
    background-color: hsl(213, 19%, 18%);
        
           border: 1px  hsl(213, 19%, 18%) soild ;
           width: 990px;  
           padding-top: 40px;; 
           padding-bottom: 50px;
           box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
           background-color: white;
          border-radius:10px 10px 10px 10px;
   }
   .conversations p{ padding-top: 15px;
     font-size: 15px;
     line-break: auto;
     padding-right: 40px;
   }
   .flow{ padding-bottom: 20px;
    width: 300px;
    padding-left: 40px;
    
   }
.flowing{ display: grid;
    grid-auto-flow: dense;
    grid-template-columns:  5fr 5fr;
    padding-top: 50px;
}
.third{ display: flex;
    justify-content: center;
    padding-top:30px ; 

}
.box-3{
    background-color: hsl(213, 19%, 18%);
        
           border: 1px  hsl(213, 19%, 18%) soild ;
           width: 990px;  
           padding-top: 40px;; 
           padding-bottom: 50px;
           box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
           background-color: white;
          border-radius:10px 10px 10px 10px;
   }
   .use p{ padding-top: 15px;
     font-size: 15px;
     line-break: auto;
     padding-right: 40px;
   }
   .your-users{ padding-bottom: 20px;
    width: 300px;
    padding-left: 40px;
    
   }
.users{ display: grid;
    grid-template-columns:  5fr 5fr;
    padding-top: 50px;
}
.fourth{ display: flex;
    justify-content: center;
    padding-top:30px ; 
}
.box-5{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
background-color: white;
width: 500px;
text-align: center;
height: 240px;
z-index: 99;
position: relative;
top: 70px;
display: flex;
justify-content: center;
flex-direction: column;
border-radius:10px 10px 10px 10px;
}
.fifth{ justify-content: center;
    display: flex;
    padding-top: 50px;
}
.btnn-3{
    padding-top: 20px;
}
.text-2{
    padding-top: 30px;
}
button .btn-3{ 
    padding-top: 20px;
}
.btn-3{ background-color: hotpink;
    border-radius: 20px 20px 20px 20px;
    width: 200px;
    height: 40px;
    border: none;
    color: white;
    box-shadow: 0 0.9px 0.9px 0 rgba(0,0, 0.2) ;
    text-transform: capitalize;
}
.sixth{display:flex;
    padding-top: 70px;
    background-color: hsl(213, 19%, 18%);
    min-height: 100vh;
    padding-left: 30px;

}
svg{ position: relative;
    left: -35px;
    transform: scale(0.5);
    top:40px;
}
.logo-2{
    width: 150px;
}
.social-media a{ font-size: 30px;
    color: white;
    border: 1px solid white;
    border-radius: 50%;
    padding: 10px;
  }
  .social-media a :hover{
    color: hotpink;
  }
.location{ display: flex;
    font-size: 16px;
    color: white;
    padding-bottom: 9px;
    padding-top: 50px;
    line-break: auto;
}
.icon-location{ height: 20px;}
.phone{ font-size: 16px;
    display: flex;
    color: white;
    padding-bottom: 9px;
}
.email{ font-size: 16px;
    display: flex;
    color: white;
}
.address{ padding-left: 20px;

}

.number{ padding-left: 20px;

}
.gmail{ padding-left: 20px;
}

.link{ flex-direction: column;
    display: flex;
    font-size: 17px;
    gap: 10px;
    position: relative;
    top: -150px;
    left: 700px;
   }
   .link a { color:white;
       text-decoration: none;
   }
   .copyright{ text-align: center;
 color: white;
 position: relative;
 top: 220px;
 left: 360px;
   }
   .link :hover{
       text-decoration: underline;
   }
   .social-media {font-size: 20px;
       display: flex;
      justify-content: center;
       list-style: none;
     gap: 30px;
position: relative;
top: -300px;
left: 850px;
     }
.link-2{ flex-direction: column;
    display: flex;
    gap: 10px;
    position: relative;
top:-95px ;
left:200px ;
}
}
